# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/Deploy/*
/_ReSharper.RazorDoIt/*
/packages/EFCodeFirst.0.8/*
/packages/Hammock.1.1.7/*
/packages/Hammock.1.2.0/*
/packages/Newtonsoft.Json.4.0.1/*
/packages/TweetSharp.0.0.10/*
/packages/TweetSharp.2.0.0/*
/packages/elmah.1.1/*
/Backup/Database/RazorDoIt.Initialize.bak
*.user
/Deploy/*
*.suo
/RazorDoIt.Web/Web.Debug.config
/RazorDoIt.Web/Web.Release.config
/RazorDoIt.Sandbox/Web.Debug.config
/RazorDoIt.Sandbox/Web.Release.config
/RazorDoIt.Web/RazorDoIt.Web.Publish.xml
/RazorDoIt.Web/App_Data/RazorDoIt.ldf
/RazorDoIt.Web/App_Data/RazorDoIt.mdf
/RazorDoIt.Sandbox/RazorDoIt.Sandbox.Publish.xml